@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Hex color */
      --bright-blue: #0096FF;
      --bright-blue_hover: #0437F2;
      --Neon-Blue: #1F51FF;
      --Neon-Blue_hover: #0047ab;
      --blue-btn: #0969da;
      --blue-btn_hover: #0864d1;
      --White: #ffffff;
      --gray-light: #f6f8fa;
      --gray-light_hover: #dde0e2;
      --border-btn: #d1d9e0;
      --orange-neon: #ff5f1f;
      --orange-neon_hover: #e35335;
      --red-neon: #ff3131;
      --red-neon_hover: #d22b2b;
}

a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
}
a:hover {
      color: #535bf2;
}

body {
      font-family: 'Lexend', sans-serif;
      margin: 0;
      color: #000000;
      background-color: #fefefe;
}

h1 {
      font-size: 3.2em;
      line-height: 1.1;
}

button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
      :root {
            color: #213547;
            background-color: #ffffff;
      }
      a:hover {
            color: #747bff;
      }
      button {
            background-color: #f9f9f9;
      }
}

